# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env
.env.*

# Database files (VERY IMPORTANT for your case)
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/

# OS files
.DS_Store

# Logs
*.log